<div class="footer rounded-top-6 py-14">
    <div class="container">
        <div class="d-flex justify-content-between mb-2 flex-column flex-lg-row">
            <a href="#">
                <img src="../assets/images/logo-white.png" alt="logo-white" width="200px" height="32px" class="mb-lg-0 mb-5" >
            </a>
            <ul class="d-flex flex-lg-row flex-column p-0">
                <li><a href="" class="text-white me-lg-7 mb-5" >常見問題</a></li>
                <li><a href="" class="text-white me-lg-7 mb-5">關於我們</a></li>
                <li><a href="" class="text-white me-lg-7 mb-5">隱私權政策</a></li>
                <li><a href="" class="text-white me-lg-0 mb-5">使勇者條款</a></li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-lg-center mb-2 flex-column flex-lg-row flex-column-reverse align-items-left">
            <span class="fs-8 text-white">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</span>
            <ul class="share d-flex p-0 mb-6 mb-lg-0">
                <li>
                    <a href="#" class="me-3"><img src="../assets/images/btn_line.png" alt=""></a>
                </li>
                <li>
                    <a href="#" class="me-3"><img src="../assets/images/btn_yt.png" alt=""></a>
                </li>
                <li><a href="#">
                    <img src="../assets/images/btn_fb.png" alt=""></a>
                </li>


            </ul>
        </div>
    </div>
</div>