<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>couse</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 




    <!--icon--->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>
  <body class="bg-neutral-20">
    <%- include('./layout/header'); -%>
    <section class="course bg-gradient2 position-relative">
      <div class="container my-lg-15 my-10">       
        <ul class="mb-10 d-flex">
          <li class="me-1">
            <a href="#" class="text-neutral-80 fs-8">所有課程
              <span class="ms-2">/</span></a>
          </li>
          <li class="me-1"><a href="#" class="text-neutral-80 fs-8">程式設計
            <span class="ms-2">/</span>
          </a></li>
          <li class="me-1"><a href="#" class="text-neutral-80 fs-8">網頁前端
           
          </a></li>
        </ul> 
        <div class="row">
          <div class="col-lg-7 col-12">
            <img src="../assets/images/hero-4.png" alt="hero-1" class="custom-img">
          </div>
          <div class="col-lg-5 col-12">
            <div class="c-active mt-2 mt-lg-0">
              <a href="" class="btn badge custom-badge bg-primary-10 text-primary ">程式設計</a>
              <a href="" class="btn badge custom-badge bg-primary-10 text-primary ">小白友善</a>
              <a href="" class="btn badge custom-badge bg-primary-10 text-primary ">網站設計</a>
            </div>
            <div class="">
              <h1 class="fw-semibold mb-7">使用 HTML、CSS 開發一個網站</h1>
              <p class="mb-7">為你打造就算沒有程式基礎，也能夠逐步學習獲得網頁排版技巧的紮實觀念，六角學院的講師將協助你成就更好的自己！</p>
              <p class="fw-bold">16,390 人 <span class="fw-normal">已註冊</span></p>  
            </div>     
            <ul class="custom-btn-all d-flex align-items-center mt-auto ">
              <li class="me-2">
                <a class="btn custom-2 fs-8 fw-bold active-2" role="button" aria-disabled="true">
                <span class="material-symbols-outlined me-1">bookmark</span>
                <span>我的收藏</span>
                </a>
              </li>
              <li class="me-2">
                <a class="btn custom-2 fs-8 fw-bold " role="button" aria-disabled="true">
                <span class="material-symbols-outlined me-1">share</span>
                <span>分享課程</span>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="container">
        <ul class="row bg-white rounded-8 py-9 px-10 mb-5 shadow d-flex flex-lg-row flex-column">
          <li class="col-lg-3 col px-lg-5 p-5 border-lg-end border-bottom d-flex flex-column justify-content-between">
            <h6 class="text-neutral fw-semibold border-lg-end border-none">
              <img src="../assets/images/logo-six-sm.png" alt="logo-six-sm" class="me-1">六角學院
            </h6>
            <p>高雄最大線上程式開發學習單位</p>
          </li>
          <li class="col-lg-3 col px-lg-5 p-5 border-lg-end border-bottom d-flex flex-column justify-content-between">
            <h6 class="text-neutral fw-semibold">
              <span class="material-symbols-outlined fs-4 text-warning">star</span>
              4.9</h6>
            <p>13,208 條評論</p>
          </li>
          <li class="col-lg-3 col px-lg-5 p-5 border-lg-end border-bottom d-flex flex-column justify-content-between">
            <h6 class="text-neutral fw-semibold">3 時 25 分</h6>
            <p>16 個單元，4 個課後學習作業</p>
          </li>
          <li class="col-lg-3 col px-lg-5 p-5 d-flex flex-column justify-content-between">
            <div class="badge-sm bg-primary-10">前端開發類別排名第一名 🔥</div>
            <p>16,390 人已註冊</p>
          </li>
        </ul>
      </div>
    </section>

    

    <!--03-day48-->
    <section>
      <div class="container-fulid border-bottom sticky-top">
        <div class="container">
          <ul class="nav nav-pills " id="pills-tab" role="tablist">
            <li class="custom-tabs-item" >
              <a class="custom-tabs-btn active" href="#1" data-bs-toggle="btn">課程介紹</a>
            </li>

            <li class="custom-tabs-item">
              <a class="custom-tabs-btn"  href="#2" data-bs-toggle="btn" data-bs-target="#pills-profile">預計單元</a>
            </li>
            <li class="custom-tabs-item">
              <a class="custom-tabs-btn"  href="#3" data-bs-toggle="zz" data-bs-target="#pills-profile">關於講師</a>
            </li>
            <li class="custom-tabs-item">
              <a class="custom-tabs-btn"  href="#4" data-bs-toggle="zz" data-bs-target="#pills-profile">購課前問答</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container mt-8 mb-15">
        <div class="row">
          <!--left-->
          <div class="col-lg-8 col">
            <div id="1" >
              <div class="d-flex flex-lg-row flex-column">
                <div class="title d-flex">
                  <img src="../assets/images/asterisk-sm-1.png" alt="asterisk-sm-1" width="24" height="24" class=" me-1">
                  <h6 class="fw-semibold">課程介紹</h6>
                </div>
              </div>
              <div class="px-7 py-3 mt-5 rounded-8 bg-white">
                <picture>
                  <source media="(min-width: 992px)" srcset="../assets/images/course-detail-1.png">
                  <img src="../assets/images/course-sm-detail-1.png" alt="course-sm-detail-1" class="w-100">
                </picture>
                <p class="fw-bold border-3 border-left ">入門前端網頁設計從這裡開始，跨出你的第一步！</p>
                <p>如果你也想要踏入前端的世界，歡迎你來到 Hahow 與六角學院合作的「前端網頁設計」課程組合，透過一系列前端語言的基礎課程，循序漸進的帶你進入網頁開發的世界。<br> 而這裡——就是你的第一步！</p>
                <picture>
                  <source media="(min-width: 992px)" srcset="../assets/images/course-detail-2.png">
                  <img src="../assets/images/course-sm-detail-2.png" alt="course-sm-detail-2" class="w-100">
                </picture>
              </div>
            </div>  
            <div id="2" >
              <div class="">
                <div class="title d-flex my-3">
                  <img src="../assets/images/asterisk-sm-1.png" alt="asterisk-sm-1" width="24" height="24" class=" me-1">
                  <h6 class="fw-semibold">預計單元</h6>
                  
                  </div>
                  <p>18 章 142 單元｜總時長 928 分鐘</p>
              </div>
              <div class="accordion accordion-flush mt-4 gy-3" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 
                  class="accordion-header" 
                  id="panelsStayOpen-headingOne"> 
                    <button class="accordion-button" type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#panelsStayOpen-collapseOne" 
                    aria-expanded="true" 
                    aria-controls="panelsStayOpen-collapseOne"
                    >
                        <div class="w-100 d-flex justify-content-between">
                          <div class="title-left d-flex align-items-center"> 
                            <i class="bi bi-1-square-fill accordion-icon"></i>
                            <p class="ms-2 fw-600">課前說明</p>
                          </div>
                          <div class="title-left d-flex align-items-center me-3">
                            <p class="fs-14 gray-200 quantity-time">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                          </div>
                        </div>
                  </button> 
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body px-0">
                      <ul class="list-unstyled">
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-12">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it fs-12 py-1 px-2">試看單元</p>
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-12">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-12">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-12">Hahow 學生如何在六角平台檢視問題</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-12">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                      <div class="w-100 d-flex justify-content-between">
                        <div class="title-left d-flex align-items-center"> <i class="bi bi-2-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-600">2020 VS Code 網頁編輯器、HTML 基礎教學</p>
                        </div>
                        <div class="title-left d-flex align-items-center me-3">
                          <p class="fs-14 gray-200 quantity-time">15個單元<span class="mx-2 circle"></span>25分鐘</p>
                        </div>
                      </div>
                    </button> </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body px-0">
                      <ul class="list-unstyled">
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-12">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it fs-12 py-1 px-2">試看單元</p>
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-12">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-12">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-12">Hahow 學生如何在六角平台檢視問題</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                        <li> <a href="#" class="d-flex justify-content-between py-3 px-4">
                            <div class="course-name d-flex align-items-center"><i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-12">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-3 fs-14">00:10</p>
                            </div>
                          </a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="3">
              <div class="card-title d-flex my-3">
                <img src="../assets/images/asterisk-sm-1.png" alt="asterisk-sm-1" width="24" height="24" class=" me-1">
                <h6 class="fw-semibold">關於講師</h6>
              </div>
              <div class="card-body">   
                <div class="px-7 py-3 mt-5 rounded-8 bg-white">
                  <div class="box-title d-flex border-bottom mt-9">
                    <img src="../assets/images/logo-six.png" alt="logo-six" width="80" height="80">
                    <div class="ms-3">
                      <h6 class="mb-1">六角學院</h6>
                      <P class="mb-3">打破線上課程售後不理，我們在線上等你！帶你學到會的線上課程。</P>
                      <div class="d-flex mb-10">
                        <p class="pe-3 border-end">2 堂課程</p>
                        <p class="px-3 border-end">1,567 個學生</p>
                        <p class="px-3 ">1,034 則評論</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-body mt-9 text-neutral-80 ">
                    <p class="mb-3">六角學院是一所線上程式開發學習單位，目前已累積 20,000 名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。</p>
                    
                    <p>我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運 Know how。</p>
                  </div>
                  <a class="text-end box-a text-primary " href="#">了解更多講師履歷</a>
                </div>
              </div>
              
            </div>
            <div id="4">
              <div class="card-title d-flex my-3">
                <img src="../assets/images/asterisk-sm-1.png" alt="asterisk-sm-1" width="24" height="24" class=" me-1">
                <h6 class="fw-semibold">購課前問答</h6>
              </div>
              <div class="card-body my-3">
                <div class="px-7 py-3 mt-5 rounded-8 bg-white d-flex ">
                  <div class="box-title mt-9">
                    <img src="../assets/images/avatar-3.png" alt="avatar-3" width="60" height="60" class="me-5">
                  </div>
                  <div class="box-body mt-9 text-neutral-80 w-100">
                    <h6 class="mb-3">Jessica</h6>
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px;"></textarea>
                      <label for="floatingTextarea2">上課前有什麼疑問嗎？ <br class="d-block d-lg-none">在這裡盡情詢問講師！</label>
                    </div>
                    <div class="d-flex justify-content-between mt-6 flex-lg-row flex-column w-100">
                      <p>
                        <img src="../assets/images/asterisk-sm-1.png" alt="asterisk-sm-1" width="16" height="16" class=" me-1">
                        提問之前也別忘了看看其他同學有沒有跟你有相同的問題哦
                      </p>
                      <div class="custom-btn-all">
                        <button class="btn text-end custom-3 text-center w-100" href="#">送出</button>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="px-7 py-3 mt-5 rounded-8 bg-white d-flex ">
                  <div class="box-title mt-9">
                    <img src="../assets/images/avatar-3.png" alt="avatar-3" width="60" height="60" class="me-5">
                  </div>
                  <div class="box-body mt-9 text-neutral-80 w-100">
                    <h6 class="text-neutral fs-7 ">Jessica</h6>
                    <time datetime="20240130" class="fs-8 text-neutral-60">2024-01-30</time>
                    <ul class="mb-3">
                      老師您好，想問您:
                      <li>1. 課程是用MAC作業系統，只使用Windows作業系統的同學會有學習上的問題嗎~</li>
                      <li>2. 此課程在Udemy、好好學校、六角學院購買會有什麼不一樣嗎~</li>
                      <li></li>
                    </ul>
                    <div class="bg-neutral-10 p-5 rounded-2">
                     <div class="mb-5">
                      <h6 class="text-neutral fs-7 ">六角學院
                        <span class="fs-9 text-primary border border-primary rounded-2" style="padding:4px;">授課老師</span></h6>
                      <time datetime="20240130" class="fs-8 text-neutral-60">2024-01-30</time>
                     </div>
                      <div class="text-neutral-80">
                        <p>嗨嗨 Brian <br>我是六角學院助教 Bingbingboom<br><br>
                        關於同學的問題：<br>1.使用 Windows 系統是可以的，沒有問題哩 ～<br>2.課程內容都是相同的哦 ～<br><br>                  
                        若有問題歡迎再次發問 :D
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!--num-->
              <ul class="custom-btn-all d-flex justify-content-lg-end justify-content-center my-3 ">
                <li class="me-2">
                  <a class="btn custom-4 border border-neutral disabled" href="#">
                    <span class="material-symbols-outlined px-0 py-0">keyboard_double_arrow_left</span>
                  </a>
                </li>
                <li class="me-2">
                  <a class="btn custom-4 border border-neutral disabled" href="#">
                    <span class="material-symbols-outlined px-0 py-0">chevron_left</span>
                  </a>
                </li>
                <li class="me-2">
                  <a class="btn custom-4 border border-neutral active" href="#">1</a>
                </li>
                <li class="me-2 d-none d-lg-block">
                  <a class="btn custom-4 border border-neutral " href="#">2</a>
                </li>
                <li class="me-2 d-none d-lg-block">
                  <a class="btn custom-4 border border-neutral " href="#">3</a>
                </li>
                
                <li class="me-2 d-block d-lg-none">
                  <a class="btn custom-4 border border-neutral " href="#">...</a>
                </li>
                <li class="me-2 d-block d-lg-none">
                  <a class="btn custom-4 border border-neutral " href="#">10</a>
                </li>
                <li class="me-2">
                  <a class="btn custom-4 border border-neutral " href="#">
                    <span class="material-symbols-outlined px-0 py-0">chevron_right</span>
                  </a>
                </li>
                <li class="me-2">
                  <a class="btn custom-4 border border-neutral " href="#">
                    <span class="material-symbols-outlined px-0 py-0">keyboard_double_arrow_right</span>
                  </a>
                </li>
              </ul>
            </div>
          </div> 

           <!--right-->
          <div class="col-lg-4 d-none d-lg-block">
            <div class="bg-white rounded-4 border px-7 py-5">
              <p>購買本堂課</p>
              <hr>
              <a href="" class="btn badge custom-badge2 mb-5">限定優惠 75 折</a>  
              <div class="d-flex flex-column flex-wrap"> 
                <div class="price d-flex align-items-center">
                  <h3 class="fw-semibold  me-2">NT$ 2,480</h3>
                  <del class="text-neutral-60 fs-8">NT$ 3,200</del> 
                </div>
                <p>16,390 人已註冊</p>
              </div>
              <div class="d-flex align-items-center">
                <a href="#" class="btn btn-primary col-10 me-2">立即購買</a>
                <a href="#" class="btn btn-outline-primary">
                  <span class="material-symbols-outlined unfilled"> shopping_cart </span>
                </a>
              </div>
            </div>
            

            
          </div>
        </div>



    </section>

    <!--04-->

















































    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
