<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!--01.pc-->
    <section class="container-fluid d-none d-lg-block">
      <div class="swiper mySwiper swiper-custom my-6 py-10 overflow-visibles">
        <div class="swiper-wrapper">
          <div class="swiper-slide rounded-6 shadow-lg position-relative" >
            <div class="position-relative ">
              <img src="../assets/images/hero-1.png" alt="hero-1">
            </div>
            <div class="position-absolute z-index bottom-0 start-0"> 
              <h6 class="d-flex align-items-center fw-semibold bg-white px-2 py-4 mb-7 mx-4 fs-lg-6">
              <span class="bg-primary-10 text-primary me-2 py-1 px-2 fs-8">熱銷課程 🔥</span>
              給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="px-15 py-7 py-3 bg-primary text-white ">
                <h2 class="d-flex align-items-center">探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-1">arrow_right_alt</span>
                </h2>
              </a>
            </div>
          </div>
          <div class="swiper-slide rounded-6 shadow-lg position-relative" >
            <div class="position-relative">
              <img src="../assets/images/hero-2.png" alt="hero-2">
            </div>
            <div class="position-absolute z-index bottom-0 start-0"> 
              <h6 class="d-flex align-items-center fw-semibold bg-white px-2 py-4 mb-7 mx-4 fs-lg-6">
              <span class="bg-primary-10 text-primary me-2 py-1 px-2 fs-8">熱銷課程 🔥</span>
              給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="px-15 py-7 py-3 bg-primary text-white ">
                <h2 class="d-flex align-items-center">探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-1">arrow_right_alt</span>
                </h2>
              </a>
            </div>
            
          </div>
          <div class="swiper-slide rounded-6 shadow-lg position-relative" >
            <div class="position-relative ">
              <img src="../assets/images/hero-3.png" alt="hero-3">
            </div>
            <div class="position-absolute z-index bottom-0 start-0"> 
              <h6 class="d-flex align-items-center fw-semibold bg-white px-2 py-4 mb-7 mx-4 fs-lg-6">
              <span class="bg-primary-10 text-primary me-2 py-1 px-2 fs-8">熱銷課程 🔥</span>
              給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="px-15 py-7 py-3 bg-primary text-white ">
                <h2 class="d-flex align-items-center">探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-1">arrow_right_alt</span>
                </h2>
              </a>
            </div>
            
          </div>
          <div class="swiper-slide rounded-6 shadow-lg position-relative" >
            <div class="position-relative ">
              <img src="../assets/images/hero-1.png" alt="hero-1">
            </div>
            <div class="position-absolute z-index bottom-0 start-0"> 
              <h6 class="d-flex align-items-center fw-semibold bg-white px-2 py-4 mb-7 mx-4 fs-lg-6">
              <span class="bg-primary-10 text-primary me-2 py-1 px-2 fs-8">熱銷課程 🔥</span>
              給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="px-15 py-7 py-3 bg-primary text-white ">
                <h2 class="d-flex align-items-center">探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-1">arrow_right_alt</span>
                </h2>
              </a>
            </div>
          </div>
          <div class="swiper-slide rounded-6 shadow-lg position-relative" >
            <div class="position-relative">
              <img src="../assets/images/hero-2.png" alt="hero-2">
            </div>
            <div class="position-absolute z-index bottom-0 start-0"> 
              <h6 class="d-flex align-items-center fw-semibold bg-white px-2 py-4 mb-7 mx-4 fs-lg-6">
              <span class="bg-primary-10 text-primary me-2 py-1 px-2 fs-8">熱銷課程 🔥</span>
              給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="px-15 py-7 py-3 bg-primary text-white ">
                <h2 class="d-flex align-items-center">探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-1">arrow_right_alt</span>
                </h2>
              </a>
            </div>
            
          </div>
          <div class="swiper-slide rounded-6 shadow-lg position-relative" >
            <div class="position-relative ">
              <img src="../assets/images/hero-3.png" alt="hero-3">
            </div>
            <div class="position-absolute z-index bottom-0 start-0"> 
              <h6 class="d-flex align-items-center fw-semibold bg-white px-2 py-4 mb-7 mx-4 fs-lg-6">
              <span class="bg-primary-10 text-primary me-2 py-1 px-2 fs-8">熱銷課程 🔥</span>
              給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="px-15 py-7 py-3 bg-primary text-white ">
                <h2 class="d-flex align-items-center">探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-1">arrow_right_alt</span>
                </h2>
              </a>
            </div>
            
          </div>
          
        </div>
        <div class="swiperbutton-prev btn bg-white btn-icon btn-l shadow ">
          <span class="material-symbols-outlined">arrow_left_alt</span>
        </div>
        <div class="swiperbutton-next btn bg-white btn-icon btn-r shadow">
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
        
      </div>
    </section>
     <!--01.sm-->
    <section class="container-fluid d-block d-lg-none">
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-custom2 position-relative">
            <img src="../assets/images/hero-1.png" alt="hero-1" class="object-fit-cover">
            <div class="w-100 bottom-0 position-absolute "> 
              <h6 class="custom-col-1 bg-white rounded-pill fw-semibold mx-auto fs-8 py-3 px-1 mb-8 text-start d-flex align-items-center ">
                 <span class="badge text-primary bg-primary-10 px-1 py-2 rounded-pill me-2 fs-8">熱銷課程🔥</span>
                 給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="bg-primary py-3 w-100 ">
                <h2 class="text-white fs-8 text-center text-lg-0">探索感興趣的課程，今天立即上課<span class="material-symbols-outlined fs-8">arrow_right_alt</span>
                </h2>
              </a> 
            </div>
            
          </div>
          <div class="swiper-slide swiper-custom2 position-relative">
            <img src="../assets/images/hero-2.png" alt="hero-2" class="object-fit-cover">
            <div class="w-100 bottom-0 position-absolute "> 
              <h6 class="custom-col-1 bg-white rounded-pill fw-semibold mx-auto fs-8 py-3 px-1 mb-8 text-start d-flex align-items-center ">
                 <span class="badge text-primary bg-primary-10 px-1 py-2 rounded-pill me-2 fs-8">熱銷課程🔥</span>
                 給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="bg-primary py-3 w-100 ">
                <h2 class="text-white fs-8 text-center text-lg-0">探索感興趣的課程，今天立即上課<span class="material-symbols-outlined fs-8">arrow_right_alt</span>
                </h2>
              </a> 
            </div>
            
          </div> 
          <div class="swiper-slide swiper-custom2 position-relative">
            <img src="../assets/images/hero-3.png" alt="hero-3" class="object-fit-cover">
            <div class="w-100 bottom-0 position-absolute "> 
              <h6 class="custom-col-1 bg-white rounded-pill fw-semibold mx-auto fs-8 py-3 px-1 mb-8 text-start d-flex align-items-center ">
                 <span class="badge text-primary bg-primary-10 px-1 py-2 rounded-pill me-2 fs-8">熱銷課程🔥</span>
                 給成人的鋼琴入門課，一小時教你彈奏上手！
              </h6>
              <a href="#" class="bg-primary py-3 w-100 ">
                <h2 class="text-white fs-8 text-center text-lg-0">探索感興趣的課程，今天立即上課<span class="material-symbols-outlined fs-8">arrow_right_alt</span>
                </h2>
              </a> 
            </div>
            
          </div> 
          
        </div>    
        <div class="swiper-pagination mb-10"></div>
      </div>
    </section>
    <!--02--->
    <section class="container-fluid py-15 position-relative d-none d-lg-block">   
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="mt-16">
              <h2 class="fw-semibold">火熱募資課程</h2>
              <span>現在購買最優惠✨</span>
            </div>
            
            <ul class="tags custom-btn-all mt-9 mb-9 p-0 d-flex flex-wrap"> 
              <li>
                <a href="#" class="btn custom-1 me-2 mb-2  active">全部</a>
              </li>
              <li>
                <a href="#" class="btn custom-1 me-2 mb-2 ">🍽️ 烹飪料理</a>
              </li>
              <li>
                <a href="#" class="btn custom-1 me-2 mb-2 ">📊 數據分析</a>
              </li>
              <li>
                <a href="#" class="btn custom-1 me-2 mb-2 ">🎼 音樂製作</a>
              </li>
              <li>
                <a href="#" class="btn custom-1 me-2 mb-2 ">📝 創意寫作</a>
              </li>
              <li>
                <a href="#" class="btn custom-1 me-2 mb-2 ">💬 語言學習</a>
              </li>
              <li>
                <a href="#" class="btn custom-1 me-2 mb-2 ">🖌️ 藝術創作</a>
              </li>
            </ul>
            <div class="custom-btn-all">
              <a href="#" class="btn custom-5">更多募資課程</a>
            </div>
          </div>
          <div class="col-8 d-flex flex-wrap">
            <div class="row gy-5">
              <div class="col-6">
                <div class="card border-0 rounded-4 shadow " data-aos="zoom-in"
                data-aos-anchor-placement="top-bottom">
                  <img src="../assets/images/course-4.png"  alt="course-4" class="card-img-top rounded-top-4 position-relative">
                  <div class="badge custom-badge bg-primary-10 text-primary position-absolute top-0 m-lg-3">優惠倒數 10 天</div>
                  <div class="card-body">
                    <h6 class="fw-bold">創意寫作工坊：從靈感到出版的全過程</h6>
                    <div class="d-flex mb-lg-6">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" width="44" height="44" class="rounded-circle object-fit-cover mt-lg-1">
                     <p class="mt-lg-3 ms-lg-1">Kelly Hsu</p>
                    </div>
                    <div class="d-flex justify-content-between mb-0 pb-0">
                      <p class="fw-semibold text-primary">募資進度 81 %</p>
                      <span class="fs-8 text-neutral-80">已有 521 位同學加入</span>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar w-75"></div>
                    </div>
                    <div class="price mt-lg-1">
                      <h6 class="fw-semibold text-neutral-">NT$ 2,480 <del class="fs-8 text-neutral-80">NT$ 3,200</del> </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card border-0 rounded-4 shadow" data-aos="zoom-in"
                data-aos-anchor-placement="top-bottom">
                  <img src="../assets/images/course-1.png"  alt="course-1" class="card-img-top rounded-top-4 position-relative">
                  <div class="badge custom-badge bg-primary-10 text-primary position-absolute top-0 m-lg-3">優惠倒數 17 天</div>
                  <div class="card-body">
                    <h6 class="fw-bold">健康廚房：營養均衡的素食料理指南</h6>
                    <div class="d-flex mb-lg-6">
                      <img src="../assets/images/avatar-3.png" alt="avatar-3" width="44" height="44" class="rounded-circle object-fit-cover mt-lg-1">
                     <p class="mt-lg-3 ms-lg-1">希姐帶你吃</p>
                    </div>
                    <div class="d-flex justify-content-between mb-lg-0">
                      <p class="fw-semibold text-primary">募資進度 281 %</p>
                      <span class="fs-8 text-neutral-80">已有 1,397 位同學加入</span>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar w-100"></div>
                    </div>
                    <div class="price mt-lg-1">
                      <h6 class="fw-semibold text-neutral-">NT$ 1,680 <del class="fs-8 text-neutral-80 ">NT$ 2,980</del> </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card border-0 rounded-4 shadow" data-aos="zoom-in"
                data-aos-anchor-placement="top-bottom">
                  <img src="../assets/images/course-1.png"  alt="course-1" class="card-img-top rounded-top-4 position-relative">
                  <div class="badge custom-badge bg-primary-10 text-primary position-absolute top-0 m-lg-3">優惠倒數 9 天</div>
                  <div class="card-body">
                    <h6 class="fw-bold">音樂製作入門：從零開始創作你的音樂</h6>
                    <div class="d-flex mb-lg-6">
                      <img src="../assets/images/avatar-5.png" alt="avatar-5" width="44" height="44" class="rounded-circle object-fit-cover mt-lg-1">
                     <p class="mt-lg-3 ms-lg-1">K.Dee</p>
                    </div>
                    <div class="d-flex justify-content-between mb-lg-0">
                      <p class="fw-semibold text-primary">募資進度 76 %</p>
                      <span class="fs-8 text-neutral-80">已有 420 位同學加入</span>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar w-76"></div>
                    </div>
                    <div class="price mt-lg-1">
                      <h6 class="fw-semibold text-neutral-">NT$ 2,680 <del class="fs-8 text-neutral-80 ">NT$ 3,200</del> </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card border-0 rounded-4 shadow" data-aos="zoom-in"
                data-aos-anchor-placement="top-bottom">
                  <img src="../assets/images/course-1.png"  alt="course-1" class="card-img-top rounded-top-4 position-relative">
                  <div class="badge custom-badge bg-primary-10 text-primary position-absolute top-0 m-lg-3">優惠倒數 9 天</div>
                  <div class="card-body">
                    <h6 class="fw-bold">音樂製作入門：從零開始創作你的音樂</h6>
                    <div class="d-flex mb-lg-6">
                      <img src="../assets/images/avatar-5.png" alt="avatar-5" width="44" height="44" class="rounded-circle object-fit-cover mt-lg-1">
                     <p class="mt-lg-3 ms-lg-1">K.Dee</p>
                    </div>
                    <div class="d-flex justify-content-between mb-lg-0">
                      <p class="fw-semibold text-primary">募資進度 98 %</p>
                      <span class="fs-8 text-neutral-80">已有 290 位同學加入</span>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar w-98"></div>
                    </div>
                    <div class="price mt-lg-1">
                      <h6 class="fw-semibold text-neutral-">NT$ 1,980 <del class="fs-8 text-neutral-80 ">NT$ 3,200</del> </h6>
                    </div>
                  </div>
                </div>
              </div>             
            </div>
          </div>
        </div>
      </div>
      <img src="../assets/images/Summertime Sadness.png" alt="" class="position-absolute top-0 start-0 z-n1">
    </section>
    <!--02.sm-->
    <section class="container-fluid py-15 position-relative d-block d-lg-none">   
      <div class="container">
        <div class="mb-2">
          <h2 class="fs-1 fw-semibold">火熱募資課程</h2>
          <span class="fs-6">現在購買最優惠✨</span>
        </div>
        <div class="mt-9 mb-9 mb-2">
          <ul class="custom-btn-all d-flex overflow-auto justify-content-start text-nowrap  scrollspy-example" data-bs-spy="scroll" > 
            <li>
              <a href="#" class="btn custom-1 me-2 mb-2 active">全部</a>
            </li>
            <li>
              <a href="#" class="btn custom-1 me-2 mb-2 ">🍽️ 烹飪料理</a>
            </li>
            <li>
              <a href="#" class="btn custom-1 me-2 mb-2 ">📊 數據分析</a>
            </li>
            <li>
              <a href="#" class="btn custom-1 me-2 mb-2 ">🎼 音樂製作</a>
            </li>
            <li>
              <a href="#" class="btn custom-1 me-2 mb-2 ">📝 創意寫作</a>
            </li>
            <li>
              <a href="#" class="btn custom-1 me-2 mb-2 ">💬 語言學習</a>
            </li>
            <li>
              <a href="#" class="btn custom-1 me-2 mb-2 ">🖌️ 藝術創作</a>
            </li>
          </ul>
      </div>
        <div class="swiper mySwiper2 mb-2">
          <div class="swiper-wrapper position-relative">
            <div class="swiper-slide">
              <div class="card rounded-4 border-0 rounded-4 shadow">
                <img src="../assets/images/course-4.png"  alt="course-4" class="card-img-top rounded-top-4 position-relative">
                <div class="badge custom-badge bg-primary-10 text-primary position-absolute top-0 m-3">優惠倒數 10 天</div>
                <div class="card-body">
                  <h6 class="fw-bold">創意寫作工坊：從靈感到出版的全過程</h6>
                  <div class="d-flex mb-6">
                    <img src="../assets/images/avatar-2.png" alt="avatar-2" width="44" height="44" class="rounded-circle object-fit-cover mt-1">
                  <p class="mt-3 ms-1">Kelly Hsu</p>
                  </div>
                  <div class="d-flex justify-content-between mb-0 pb-0">
                    <p class="fw-semibold text-primary">募資進度 81 %</p>
                    <span class="fs-8 text-neutral-80">已有 521 位同學加入</span>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar w-75"></div>
                  </div>
                  <div class="price mt-1">
                    <h6 class="fw-semibold text-neutral-">NT$ 2,480 <del class="fs-8 text-neutral-80">NT$ 3,200</del> </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card rounded-4 border-0 rounded-4 shadow">
                <img src="../assets/images/course-1.png"  alt="course-1" class="card-img-top rounded-top-4 position-relative">
                <div class="badge custom-badge bg-primary-10 text-primary position-absolute top-0 m-3">優惠倒數 9 天</div>
                <div class="card-body">
                  <h6 class="fw-bold">音樂製作入門：從零開始創作你的音樂</h6>
                  <div class="d-flex mb-6">
                    <img src="../assets/images/avatar-5.png" alt="avatar-5" width="44" height="44" class="rounded-circle object-fit-cover mt-1">
                  <p class="mt-3 ms-1">K.Dee</p>
                  </div>
                  <div class="d-flex justify-content-between mb-0">
                    <p class="fw-semibold text-primary">募資進度 76 %</p>
                    <span class="fs-8 text-neutral-80">已有 420 位同學加入</span>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar w-76"></div>
                  </div>
                  <div class="price mt-1">
                    <h6 class="fw-semibold text-neutral-">NT$ 2,680 <del class="fs-8 text-neutral-80 ">NT$ 3,200</del> </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card rounded-4 border-0 rounded-4 shadow">
                <img src="../assets/images/course-1.png"  alt="course-1" class="card-img-top rounded-top-4 position-relative">
                <div class="badge custom-badge bg-primary-10 text-primary position-absolute top-0 m-3">優惠倒數 9 天</div>
                <div class="card-body">
                  <h6 class="fw-bold">音樂製作入門：從零開始創作你的音樂</h6>
                  <div class="d-flex mb-6">
                    <img src="../assets/images/avatar-5.png" alt="avatar-5" width="44" height="44" class="rounded-circle object-fit-cover mt-1">
                  <p class="mt-3 ms-1">K.Dee</p>
                  </div>
                  <div class="d-flex justify-content-between mb-0">
                    <p class="fw-semibold text-primary">募資進度 98 %</p>
                    <span class="fs-8 text-neutral-80">已有 290 位同學加入</span>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar w-98"></div>
                  </div>
                  <div class="price mt-1">
                    <h6 class="fw-semibold text-neutral-">NT$ 1,980 <del class="fs-8 text-neutral-80 ">NT$ 3,200</del> </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card rounded-4 border-0 rounded-4 shadow">
                <img src="../assets/images/course-1.png"  alt="course-1" class="card-img-top rounded-top-4 position-relative">
                <div class="badge custom-badge bg-primary-10 text-primary position-absolute top-0 m-3">優惠倒數 9 天</div>
                <div class="card-body">
                  <h6 class="fw-bold">音樂製作入門：從零開始創作你的音樂</h6>
                  <div class="d-flex mb-6">
                    <img src="../assets/images/avatar-5.png" alt="avatar-5" width="44" height="44" class="rounded-circle object-fit-cover mt-1">
                  <p class="mt-3 ms-1">K.Dee</p>
                  </div>
                  <div class="d-flex justify-content-between mb-0">
                    <p class="fw-semibold text-primary">募資進度 98 %</p>
                    <span class="fs-8 text-neutral-80">已有 290 位同學加入</span>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar w-98"></div>
                  </div>
                  <div class="price mt-1">
                    <h6 class="fw-semibold text-neutral-">NT$ 1,980 <del class="fs-8 text-neutral-80 ">NT$ 3,200</del> </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination position-relative bottom-50"></div>
        </div> 
        <a href="#" class="btn bg-primary text-white btnmore w-100">更多募資課程</a>
      </div>
      
      <img src="../assets/images/Summertime Sadness.png" alt="" class="position-absolute top-0 start-0 z-n1 w-50">
    </section>

    <!--03--->
    <section class="py-13 bg-gradient position-relative">
      <div class="container">
        <div class="text-left text-lg-center">
          <h2 class="fw-bold fs-1"><span class="custom-deco z-1">看</span>看大家都買了什麼</h2>
          <p>超真實學員評價，這些講師你絕對不能錯過！</p>
        </div>
      </div>
      <img src="../assets/images/SummertimeSadness-2.png" alt="SummertimeSadness-2" class="top-25 start-0 position-absolute z-1" width="240px" height="480px">
      <div class="container position-relative px-3 mt-9">
        <div class="swiper mySwiper3 p-5 overflow-visibles">
          <div class="swiper-wrapper">
            <div class="swiper-slide ">
              <div class="card rounded-4 border-neutral-40 border-0 rounded-4 shadow" data-aos="zoom-in" >
                <img src="../assets/images/course-4.png"  alt="course-4" class="card-img-top rounded-top-4 position-relative">
                <div class="badge custom-badge bg-alert-10 text-alert position-absolute top-0 m-lg-3">限時 8 折 🔥</div>
                <div class="card-body border-bottom">
                  <h6 class="fw-semibold">創意寫作工坊：從靈感到出版的全過程</h6>
                  <div class="d-flex d-flex justify-content-between ">
                    <div class="avater ">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" width="32" height="32" class="rounded-circle object-fit-cover">
                    <p class="mt-lg-3 ms-lg-1 fs-lg-8">Kelly Hsu</p>
                    </div>
                    <div class="price text-end">
                      <h6 class="fw-semibold text-primary">NT$ 2,480</h6>
                      <del class="text-neutral-60 fs-8">NT$ 3,200</del> 
                    </div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">   
                  <div class="mb-0 pb-0 ">
                    <p class="badge bg-neutral-40 text-neutral-80 fw-normal rounded-pill py-1 px-2">中文創作</p>
                    <p class="fs-8 text-neutral-80">已有 521 位同學加入</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="fs-8 material-symbols-outlined text-warning">star</span>
                    <span class="fs-8 fw-semibold ">4.0</span>
                    <span class="fs-8 text-neutral-60">(333)</span> 
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card rounded-4 border-neutral-40 border-0 rounded-4 shadow" data-aos="zoom-in" >
                <img src="../assets/images/course-5.png"  alt="course-5" class="card-img-top rounded-top-4 position-relative">
                <div class="badge custom-badge bg-alert-10 text-alert position-absolute top-0 m-lg-3">限時 8 折 🔥</div>
                <div class="card-body border-bottom">
                  <h6 class="fw-semibold">小白也會！從零開始學習 Python 程式設計</h6>
                  <div class="d-flex d-flex justify-content-between ">
                    <div class="avater ">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" width="32" height="32" class="rounded-circle object-fit-cover">
                    <p class="mt-lg-3 ms-lg-1 fs-7">Kelly Hsu</p>
                    </div>
                    <div class="price text-end">
                      <h6 class="fw-semibold text-primary">NT$ 2,480</h6>
                      <del class="text-neutral-60 fs-8">NT$ 3,200</del> 
                    </div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">   
                  <div class="mb-0 pb-0 ">
                    <p class="badge bg-neutral-40 text-neutral-80 fw-normal rounded-pill py-1 px-2">程式開發</p>
                    <p class="fs-8 text-neutral-80">已有 420 位同學加入</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="fs-8 material-symbols-outlined text-warning">star</span>
                    <span class="fs-8 fw-semibold">4.0</span>
                    <span class="fs-8 text-neutral-60">(333)</span> 

                  </div>
                  
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card rounded-4 border-neutral-40 border-0 rounded-4 shadow" data-aos="zoom-in" >
                <img src="../assets/images/course-6.png"  alt="course-6" class="card-img-top rounded-top-4 position-relative">
                <div class="badge custom-badge bg-alert-10 text-alert position-absolute top-0 m-lg-3">限時 8 折 🔥</div>
                <div class="card-body border-bottom">
                  <h6 class="fw-semibold">全面掌握 JavaScript 開發技術</h6>
                  <div class="d-flex d-flex justify-content-between ">
                    <div class="avater ">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" width="32" height="32" class="rounded-circle object-fit-cover">
                    <p class="mt-lg-3 ms-lg-1 fs-7">Kelly Hsu</p>
                    </div>
                    <div class="price text-end">
                      <h6 class="fw-semibold text-primary">NT$ 2,480</h6>
                      <del class="text-neutral-60 fs-8">NT$ 3,200</del> 
                    </div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">   
                  <div class="mb-0 pb-0 ">
                    <p class="badge bg-neutral-40 text-neutral-80 fw-normal rounded-pill py-1 px-2">中文創作</p>
                    <p class="fs-8 text-neutral-80">已有 521 位同學加入</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="fs-8 material-symbols-outlined text-warning">star</span>
                    <span class="fs-8 fw-semibold">4.0</span>
                    <span class="fs-8 text-neutral-60">(333)</span> 

                  </div>
                  
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card rounded-4 border-neutral-40 border-0 rounded-4 shadow" data-aos="zoom-in" >
                <img src="../assets/images/course-4.png"  alt="course-4" class="card-img-top rounded-top-4 position-relative">
                
                <div class="card-body border-bottom">
                  <h6 class="fw-semibold">HTML & CSS 網頁設計基礎教程</h6>
                  <div class="d-flex d-flex justify-content-between ">
                    <div class="avater ">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" width="32" height="32" class="rounded-circle object-fit-cover">
                    <p class="mt-lg-3 ms-lg-1 fs-7">Kelly Hsu</p>
                    </div>
                    <div class="price text-end">
                      <h6 class="fw-semibold text-primary">NT$ 2,480</h6>
                      <del class="text-neutral-60 fs-8">NT$ 3,200</del> 
                    </div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">   
                  <div class="mb-0 pb-0 ">
                    <p class="badge bg-neutral-40 text-neutral-80 fw-normal rounded-pill py-1 px-2">程式開發</p>
                    <p class="fs-8 text-neutral-80">已有 521 位同學加入</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="fs-8 material-symbols-outlined text-warning">star</span>
                    <span class="fs-8 fw-semibold">4.0</span>
                    <span class="fs-8 text-neutral-60">(333)</span> 

                  </div>
                  
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card rounded-4 border-neutral-40 border-0 rounded-4 shadow" data-aos="zoom-in" >
                <img src="../assets/images/course-4.png"  alt="course-4" class="card-img-top rounded-top-4 position-relative">
                
                <div class="card-body border-bottom">
                  <h6 class="fw-semibold">更進一步！深入學習 Node.js 與後端開發</h6>
                  <div class="d-flex d-flex justify-content-between ">
                    <div class="avater ">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" width="32" height="32" class="rounded-circle object-fit-cover">
                    <p class="mt-lg-3 ms-lg-1 fs-7">Kelly Hsu</p>
                    </div>
                    <div class="price text-end">
                      <h6 class="fw-semibold text-primary">NT$ 2,480</h6>
                      <del class="text-neutral-60 fs-8">NT$ 3,200</del> 
                    </div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">   
                  <div class="mb-0 pb-0 ">
                    <p class="badge bg-neutral-40 text-neutral-80 fw-normal rounded-pill py-1 px-2">程式開發</p>
                    <p class="fs-8 text-neutral-80">已有 420 位同學加入</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="fs-8 material-symbols-outlined text-warning">star</span>
                    <span class="fs-8 fw-semibold">4.0</span>
                    <span class="fs-8 text-neutral-60">(333)</span> 

                  </div>
                  
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card rounded-4 border-neutral-40 border-0 rounded-4 shadow" data-aos="fade-up" >
                <img src="../assets/images/course-4.png"  alt="course-4" class="card-img-top rounded-top-4 position-relative">
                
                <div class="card-body border-bottom">
                  <h6 class="fw-semibold">更進一步！深入學習 Node.js 與後端開發</h6>
                  <div class="d-flex d-flex justify-content-between ">
                    <div class="avater ">
                      <img src="../assets/images/avatar-2.png" alt="avatar-2" width="32" height="32" class="rounded-circle object-fit-cover">
                    <p class="mt-lg-3 ms-lg-1 fs-7">Kelly Hsu</p>
                    </div>
                    <div class="price text-end">
                      <h6 class="fw-semibold text-primary">NT$ 2,480</h6>
                      <del class="text-neutral-60 fs-8">NT$ 3,200</del> 
                    </div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">   
                  <div class="mb-0 pb-0 ">
                    <p class="badge bg-neutral-40 text-neutral-80 fw-normal rounded-pill py-1 px-2">程式開發</p>
                    <p class="fs-8 text-neutral-80">已有 420 位同學加入</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <span class="fs-8 material-symbols-outlined text-warning">star</span>
                    <span class="fs-8 fw-semibold">4.0</span>
                    <span class="fs-8 text-neutral-60">(333)</span> 

                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="swiperbutton-prev btn bg-white position-absolute shadow d-none d-lg-block start-0 top-50 z-1 border-0 text-primary active">
          <span class="material-symbols-outlined">arrow_left_alt</span>
        </div>
        <div class="swiperbutton-next btn bg-white position-absolute shadow d-none  d-lg-block end-0 top-50 z-1 border-0 text-primary active">
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
      </div>
      

    </section>
    <!--04-->
    <section class="w-1656 bg-primary rounded-6 rounded-lg-4 mx-0 mx-lg-auto py-13 px-2 mx-2 my-13">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-7 d-none d-lg-block">
            <div class="container">
              <div class="row gy-5 m-2">
                <div class="col-6 custom-btn-all" data-aos="flip-up">
                  <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center">
                    <img src="../assets/images/Frame1.png" alt="Frame1" class="ms-0 me-8">
                    <div class="text-start ">
                    <p class="d-block">網路行銷</p>
                    <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                  </div>
                  </a>
                </div>
                <div class="col-6 custom-btn-all" data-aos="flip-up">
                  <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center">
                    <img src="../assets/images/Frame2.png" alt="Frame2" class="ms-0 me-8">
                    <div class="text-start ">
                    <p class="d-block">網路行銷</p>
                    <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                  </div>
                  </a>
                </div>
                <div class="col-6 custom-btn-all" data-aos="flip-up">
                  <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center">
                    <img src="../assets/images/Frame3.png" alt="Frame3" class="ms-0 me-8">
                    <div class="text-start ">
                    <p class="d-block">網路行銷</p>
                    <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                  </div>
                  </a>
                </div>
                <div class="col-6 custom-btn-all" data-aos="flip-up">
                  <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center">
                    <img src="../assets/images/Frame4.png" alt="Frame4" class="ms-0 me-8">
                    <div class="text-start ">
                    <p class="d-block">網路行銷</p>
                    <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                  </div>
                  </a>
                </div>
                <div class="col-6 custom-btn-all" xdata-aos="flip-up">
                  <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center">
                    <img src="../assets/images/Frame5.png" alt="Frame5" class="ms-0 me-8">
                    <div class="text-start ">
                    <p class="d-block">網路行銷</p>
                    <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                  </div>
                  </a>
                </div>
                <div class="col-6 custom-btn-all" data-aos="flip-up">
                  <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center">
                    <img src="../assets/images/Frame6.png" alt="Frame6" class="ms-0 me-8">
                    <div class="text-start ">
                    <p class="d-block">網路行銷</p>
                    <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                  </div>
                  </a>
                </div>
                <div class="col-6 custom-btn-all" data-aos="flip-up">
                  <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center">
                    <img src="../assets/images/Frame7.png" alt="Frame7" class="ms-0 me-8">
                    <div class="text-start ">
                    <p class="d-block">網路行銷</p>
                    <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                  </div>
                  </a>
                </div>
                <div class="col-6 custom-btn-all" data-aos="flip-up">
                  <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center">
                    <img src="../assets/images/Frame8.png" alt="Frame8" class="ms-0 me-8">
                    <div class="text-start ">
                    <p class="d-block">網路行銷</p>
                    <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5 ">
            <picture>
              <source media="(min-width:992px)" srcset="../assets/images/title-1.png">
              <img src="../assets/images/title-1-sm.png" alt="title-1-sm" class="w-100 m-2">
            </picture>
          </div>
          <div class="col-12 d-block d-lg-none">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="custom-btn-all">
                    <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center mb-1">
                      <img src="../assets/images/Frame1.png" alt="Frame1" class="ms-0 me-8">
                      <div class="text-start ">
                      <p class="d-block">網路行銷</p>
                      <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                    </div>
                    </a>
                  </div>
                  <div class="custom-btn-all">
                    <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center ">
                      <img src="../assets/images/Frame2.png" alt="Frame2" class="ms-0 me-8">
                      <div class="text-start ">
                      <p class="d-block">網路行銷</p>
                      <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                    </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="custom-btn-all">
                    <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center mb-1">
                      <img src="../assets/images/Frame3.png" alt="Frame3" class="ms-0 me-8">
                      <div class="text-start ">
                      <p class="d-block">網路行銷</p>
                      <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                    </div>
                    </a>
                  </div>
                  <div class="custom-btn-all">
                    <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center ">
                      <img src="../assets/images/Frame4.png" alt="Frame4" class="ms-0 me-8">
                      <div class="text-start ">
                      <p class="d-block">網路行銷</p>
                      <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                    </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="custom-btn-all">
                    <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center mb-1">
                      <img src="../assets/images/Frame5.png" alt="Frame5" class="ms-0 me-8">
                      <div class="text-start ">
                      <p class="d-block">網路行銷</p>
                      <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                    </div>
                    </a>
                  </div>
                  <div class="custom-btn-all">
                    <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center ">
                      <img src="../assets/images/Frame6.png" alt="Frame6" class="ms-0 me-8">
                      <div class="text-start ">
                      <p class="d-block">網路行銷</p>
                      <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                    </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="custom-btn-all">
                    <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center mb-1">
                      <img src="../assets/images/Frame7.png" alt="Frame7" class="ms-0 me-8">
                      <div class="text-start ">
                      <p class="d-block">網路行銷</p>
                      <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                    </div>
                    </a>
                  </div>
                  <div class="custom-btn-all">
                    <a href="#" class="btn custom-7 d-flex rounded-5 align-items-center ">
                      <img src="../assets/images/Frame8.png" alt="Frame8" class="ms-0 me-8">
                      <div class="text-start ">
                      <p class="d-block">網路行銷</p>
                      <span class="fw-normal text-neutral-60 fs-8">342 門課程</span>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
    </section>
    <!--05-->
    <section class="py-10 my-11">
      <div class="title text-left text-lg-center mb-9">
        <h2 class="fw-bold fs-1 position-relative z-1"><span class="custom-deco">頂</span>尖講師帶你飛</h2>
        <p>超真實學員評價，這些講師你絕對不能錯過！</p>
      </div> 
      <div class="container swiper mySwiper4">
        <div class="swiper-wrapper mb-5">
          <div class="position-relative swiper-slide">
            <div class="card bg-transparent border-0" data-aos="fade-up" data-aos-offset="200">
              <img src="../assets/images/teacher-3.png" class="card-img-top w-75 position-absolute end-0" alt="teacher-3">
              <div class="card-body bg-white border rounded-4 p-5 position-relative mt-lg-17 mt-md-18 mt-17 w-90">
                <div class="card-text">
                  <h6 class="fw-semibold mb-5">Mr. Robert </h6>
                  <div class="d-flex align-items-center">   
                    <p class="badge bg-neutral-40 text-neutral-80 rounded-pill py-1 px-2 fw-semibold fs-8 me-2">中文創作
                    <div class="d-flex align-items-center">
                      <span class="fs-8 material-symbols-outlined text-warning">star</span>
                      <span class="fs-8 ">4.0</span>
                      <span class="fs-8 text-neutral-60">(333)</span> 
                    </div>
                  </div>
                  <p class="text-neutral-80  mb-5">Robert 的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。</p>
                  <a href="#" class="btn btn-primary btnmore w-100 rounded-3 fw-medium">探索 Mr. Robert 的教學課程</a>
                </div>
              </div>
            </div>
          </div>
          <div class="position-relative swiper-slide">
            <div class="card bg-transparent border-0" data-aos="fade-up" data-aos-offset="300">
              <img src="../assets/images/teacher-1.png" class="card-img-top w-75 position-absolute end-0" alt="teacher-1">
              <div class="card-body bg-white border rounded-4 p-5 position-relative mt-lg-17 mt-md-18 mt-17 w-90">
                <div class="card-text ">
                  <h6 class="fw-semibold mb-5">Kelly Beck</h6>
                  <div class="d-flex align-items-center  ">   
                    <p class="badge bg-neutral-40 text-neutral-80 rounded-pill py-1 px-2 fw-semibold fs-8 me-2">英文創作
                    <div class="d-flex align-items-center">
                      <span class="fs-8 material-symbols-outlined text-warning">star</span>
                      <span class="fs-8 ">4.8</span>
                      <span class="fs-8 text-neutral-60">(281)</span> 
                    </div>
                  </div>
                  <p class="text-neutral-80  mb-5">Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly 注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。</p>
                  <a href="#" class="btn btn-primary btnmore w-100 rounded-3 fw-medium">探索 Kelly Beck 的教學課程</a>
                </div>
              </div>
            </div>
          </div>
          <div class="position-relative swiper-slide">
            <div class="card bg-transparent border-0" data-aos="fade-up" data-aos-offset="400">
              <img src="../assets/images/teacher-2.png" class="card-img-top w-75 position-absolute end-0" alt="teacher-2">
              <div class="card-body bg-white border rounded-4 p-5 position-relative mt-lg-17 mt-md-18 mt-17 w-90">
                <div class="card-text">
                  <h6 class="fw-semibold mb-5">K. Lee</h6>
                  <div class="d-flex align-items-center  ">   
                    <p class="badge bg-neutral-40 text-neutral-80 rounded-pill py-1 px-2 fw-semibold fs-8 me-2">音樂創作
                    <div class="d-flex align-items-center">
                      <span class="fs-8 material-symbols-outlined text-warning">star</span>
                      <span class="fs-8 ">4.0</span>
                      <span class="fs-8 text-neutral-60">(333)</span> 
                    </div>
                  </div>
                  <p class="text-neutral-80  mb-5">K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！</p>
                  <a href="#" class="btn btn-primary btnmore w-100 rounded-3 fw-medium">探索 K. Lee 的教學課程</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="swiper-pagination position-relative"></div>
      </div>
    </section>

    <!--footer-->
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="module" src="../main.js"></script>

  </body>
</html>
